<form [formGroup]="form" (ngSubmit)="save()" class="container w-50">
  <div>
    <h1 class="text-center align-middle pt-5">Formulário</h1>
  </div>

  <div class="container my-5">
    <div class="form-floating mb-3">
      <input formControlName="nome" class="form-control" id="floatingInput" type="text" placeholder="Nome completo" aria-label=".form-control-sm example">
      <label class="text-sm-start fs-6" for="floatingInput">Nome Completo: </label>
    </div>
  
    <div class="form-floating mb-3">
      <textarea formControlName="bio" placeholder="Biografia" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <label for="exampleFormControlTextarea1">Biografia: </label>
    </div>
    
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <input formControlName="planeta" class="form-control" type="text" placeholder="Planeta" aria-label=".form-control-sm example">
          <label>Planeta: </label>
        </div>
      </div>

      <div class="col">
        <div class="form-floating mb-3">
          <input formControlName="cupom" class="form-control" type="text" placeholder="Cupom" aria-label=".form-control-sm example">
          <label>Cupom: </label>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="formFileSm" class="form-label">Imagem: </label>
      <input formControlName="img" class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="container my-3 px-5">
        <fieldset>
          <legend>Gênero</legend>
          <div class="col-sm-10">
            <div class="form-check mx-4">
              <label class="form-check-label">Masculino</label>
              <input formControlName="sexo" class="form-check-input" type="radio" value="Masculino" >
            </div>
          </div>
    
          <div class="col-sm-10 mt-2">
            <div class="form-check mx-4">
              <label class="form-check-label">Feminino</label>
              <input formControlName="sexo" class="form-check-input" type="radio" value="Feminino" >
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="col">
      <div class="container my-3 px-5">
        <fieldset>
          <legend>Hobbies</legend>
          <div class="form-check">
            <label class="form-check-label mx-4">Caminhar</label>
            <input formControlName="hobbies" class="form-check-input" type="radio" value="Caminhar">
          </div>
    
          <div class="form-check">
            <label class="form-check-label mx-4">Dançar</label>
            <input formControlName="hobbies" class="form-check-input" type="radio" value="Dançar">
          </div>
    
          <div class="form-check">
            <label class="form-check-label mx-4">Jardinar</label>
            <input formControlName="hobbies" class="form-check-input" type="radio" value="Jardinar">
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="container my-2">
    <div class="form-floating">
      <select class="form-select" aria-label="Floating label select example">
        <option selected>selecione</option>
        <option [value]="i.valor" *ngFor="let i of idades">{{i.idade}}</option>
      </select>
      <label>Idade</label>
    </div>
  </div>

  <div class="container mt-4">
    <div class="form-floating">
      <select class="form-select" aria-label="Floating label select example">
        <option selected>selecione</option>
        <option [value]="i.valor" *ngFor="let i of idolos">{{i.nome}}</option>
      </select>
      <label>Idolos</label>
    </div>
  </div>

  <div class="container mt-4">
    <div>
      <label class="mb-2">Interesses: </label>
      <select size="4" class="form-select" aria-label="Floating label select example">
        <option [value]="i.valor" *ngFor="let i of interesses">{{i.nome}}</option>
      </select>
    </div>
  </div>

  <div class="container mt-4">
    <div class="form-floating">
      <select class="form-select" aria-label="Floating label select example">
        <option selected>selecione</option>
        <option [value]="i.valor" *ngFor="let i of carros">{{i.nome}}</option>
      </select>
      <label>Carros Favoritos</label>
    </div>
  </div>

  <div class="container mt-4">
    <div>
      <label class="mb-2">Comida Favorita: </label>
      <select size="3" class="form-select" aria-label="Floating label select example">
        <optgroup label="Vegetariano">
          <option>Salada</option>
        </optgroup>
        <optgroup label="Carnivoro">
          <option>Churrasco</option>
        </optgroup>
      </select>
    </div>
  </div>

  <div class="container mt-4">
    <div>
      <label class="mb-2">Transporte publico: </label>
      <select size="3" class="form-select" aria-label="Floating label select example">
        <optgroup label="Terrestre">
          <option>Ônibus</option>
          <option>Trem</option>
        </optgroup>
        <optgroup label="Aerio">
          <option>Avião</option>
        </optgroup>
        <optgroup label="Aquatico">
          <option>Submarino</option>
        </optgroup>
      </select>
    </div>
  </div>

  <div class="container my-4">
    <input formControlName="termos" id='teste' type="checkbox">
    <label class="px-2">Eu aceito os termos e condições</label>
  </div>

  <div class="d-flex justify-content-center gx-5">
    <div class="py-4">
      <button [disabled]="!form.valid" type="submit" class="px-3 py-1 mx-5">Enviar</button>
      <button type="reset" onclick="limparForm()" class="px-3 py-1">Limpar</button>
    </div>
  </div>
</form>

<router-outlet></router-outlet>
